.chat {
    width: 70%;
}

.message-list {
    height: 94%;
    overflow-y: auto;
    padding: 0 15px 15px 15px;
    background-color: #a1d6fb;
}

.input-container {
    height: 75px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.message-input {
    height: 50%;
    width: 90%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.btn-send {
    width: 50px;
    height: 50%;
    background: rgba(0, 0, 0, .90);
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 0;
}
