.user-list-item {
    list-style-type: none;
    text-decoration: none;
    color: black;
    width: 99%;
    background: #ffeafd;
    height: 35px;
    border-bottom: 3px solid #d8d5ff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.user-list-item:hover {
    background: #e6d1e4;
}

a {
    text-decoration: none;
}

.user-list-item-active {
    background: white;
}